[submodule "Improving-the-Epistemic-Uncertainty-of-Large-Language-Bayes"]
  path = Improving-the-Epistemic-Uncertainty-of-Large-Language-Bayes
  url = https://github.com/EddieCunningham/Improving-the-Epistemic-Uncertainty-of-Large-Language-Bayes.git
